@charset "utf-8";

#user-area {
  width: 448px;
}

#list-area {
  width: 100%;

  #list-search-search {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  #list-search-search-clear {
    cursor: pointer;
    position: absolute;
    padding: .5rem;
    top: 0.2rem;
    right: 2.5rem;
  }

  #list-search-clips {

    .list-search-group {
      padding: 0;
      margin: 0.5rem 0;
      @include border-c;
      border-radius: 4px;

      .list-search-group-header {
        background: #fefef8;
        font-size: 1.15rem;
        font-weight: 600;
        text-align: center;
        padding: 0.25rem;
        cursor: pointer;
        @include border-c(bottom);

        &:hover {
          background: #ffffd0;
          @include border-c(bottom, #888);
        }

        .list-search-group-toggle {
          font-size: 1.25rem;
          padding: 0.4rem;
          position: relative;
          top: -0.20rem;
          right: 0.25rem;
        }
      }

      .list-search-group-clips {
        margin: 0.2rem;

        .list-search-clip {
          padding: 0.35rem 1rem;
          border-radius: 4px;
          cursor: pointer;
          @include border-c(all, #fff);

          &:hover {
            background: #fffafa;
            @include border-c(all, #888);
          }

          .list-search-clip-main {
            display: flex;
            align-items: baseline;

            .list-search-clip-name {
              flex-grow: 1;
            }
          }

          .list-search-clip-detail {
            margin-top: 0.4rem;

            .list-search-clip-detail-control {
              margin-bottom: 0.4rem;
            }

            .list-search-clip-detail-table {

            }
          }

          .list-search-clip-date {
            font-family: sans-serif;
            font-size: 0.8rem;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

#clip-area {
  width: 448px;
}
