@charset "UTF-8";
@font-face {
  font-family: "Perfograma";
  src: url("../webfonts/Perfograma.otf") format("opentype"); }
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-family: メイリオ, Meiryo, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", Quicksand, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px; }

* {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.2, 0.6, 0.4, 0.8);
  -o-transition-timing-function: cubic-bezier(0.2, 0.6, 0.4, 0.8);
  transition-timing-function: cubic-bezier(0.2, 0.6, 0.4, 0.8); }

a:hover {
  text-decoration: none;
  text-shadow: 0 0 1px #888; }

.display-none {
  display: none !important; }

textarea {
  resize: vertical; }

.header-border {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 72px;
  color: #fff;
  border-top: 4px dashed #fcdd6e;
  border-bottom: 1px solid #d1b75a; }
  .header-border header {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #fcdd6e; }
    .header-border header .header-wrapper {
      height: 100%;
      padding: 0 32px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header-border header .header-wrapper div {
        margin: 4px; }
      .header-border header .header-wrapper .header-title {
        height: 48px;
        line-height: 48px;
        font-size: 2.4rem;
        font-family: "Perfograma";
        font-weight: bold; }
        .header-border header .header-wrapper .header-title:hover {
          cursor: pointer; }
      .header-border header .header-wrapper .header-content {
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .header-border header .header-wrapper .header-content .header-content-item {
          font-size: 1.5rem; }

footer {
  padding: 40px 60px;
  text-align: right; }
  footer span {
    background: #fffbfb;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-radius: 24px; }

.navbar-area {
  margin: 0;
  padding: 0;
  border: 0;
  background: #fff; }

.navbar {
  margin: 4px auto;
  padding: 4px 16px;
  border: 0; }
  .navbar .input-group {
    margin: 0;
    padding: 0; }
  .navbar .nav-seacrh {
    padding: 0; }
  .navbar .navbar-nav {
    margin: 4px 0;
    padding: 0; }
    .navbar .navbar-nav li {
      cursor: pointer;
      margin: 2px;
      padding: 4px;
      border-radius: 4px;
      color: #666; }
      .navbar .navbar-nav li a {
        margin: 0;
        padding: 4px 12px;
        background: transparent; }
        .navbar .navbar-nav li a:hover {
          background: transparent; }
      .navbar .navbar-nav li:hover {
        background: rgba(0, 0, 0, 0.05); }
      .navbar .navbar-nav li.active {
        background: rgba(0, 0, 0, 0.1);
        color: #222; }
        .navbar .navbar-nav li.active:hover {
          background: rgba(0, 0, 0, 0.05); }

main {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background: #fffbfb;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; }
  main .content {
    flex-basis: auto;
    order: 0;
    margin: 8px;
    padding: 0;
    background: #fff;
    color: #333;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 4px; }
    main .content .content-item {
      width: 100%;
      padding: 4px;
      overflow: hidden; }
      main .content .content-item li {
        margin: 8px; }
      main .content .content-item .content-item-name {
        width: 100%;
        padding-bottom: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd; }
      main .content .content-item .content-item-keys {
        width: 100%;
        padding: 8px 16px; }
        main .content .content-item .content-item-keys .content-item-key {
          margin-bottom: 8px; }
          main .content .content-item .content-item-keys .content-item-key:last-child {
            margin-bottom: 0; }
      main .content .content-item .content-label {
        display: inline-table; }
        main .content .content-item .content-label label {
          margin: 0;
          margin-bottom: 8px; }
      main .content .content-item .checkbox {
        display: inline-table; }
      main .content .content-item .item-list > * {
        margin-top: 4px;
        padding-top: 4px; }
    main .content .content-header {
      width: 100%;
      margin: 0;
      padding: 4px;
      text-align: center;
      font-size: 1.2em;
      background: #fffeff;
      color: #000;
      border-bottom: 1px solid #ddd;
      border-radius: 4px 4px 0 0; }
      main .content .content-header button {
        margin-left: 8px; }
    main .content .content-nav {
      width: 100%;
      background: #fff;
      color: #484848;
      border-bottom: 1px solid #ddd;
      display: inline-flex; }
      main .content .content-nav button {
        margin-left: 8px; }
      main .content .content-nav .content-nav-item {
        margin: 4px;
        padding: 4px;
        border-radius: 4px; }
        main .content .content-nav .content-nav-item button {
          margin-left: 8px; }
    main .content .content-item-header {
      width: 100%;
      margin-bottom: 4px;
      text-align: center;
      font-weight: bold;
      font-size: 1.2em; }
      main .content .content-item-header button {
        margin-left: 4px; }
    main .content .loading {
      margin: 100px auto;
      font-size: 25px;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      position: relative;
      -webkit-animation: loading 1.1s infinite ease;
      -moz-animation: loading 1.1s infinite ease;
      animation: loading 1.1s infinite ease;
      -webkit-translateZ: 0;
      -moz-translateZ: 0;
      translateZ: 0; }
@-webkit-keyframes loading {
  0%,
      100% {
    box-shadow: 0em -2.6em 0em 0em #ffdc8e, 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.5), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.7), 1.8em -1.8em 0 0em #ffdc8e, 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.5), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.7), 2.5em 0em 0 0em #ffdc8e, 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.5), 2.5em 0em 0 0em rgba(255, 220, 142, 0.7), 1.75em 1.75em 0 0em #ffdc8e, 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.5), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.7), 0em 2.5em 0 0em #ffdc8e, -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.5), 0em 2.5em 0 0em rgba(255, 220, 142, 0.7), -1.8em 1.8em 0 0em #ffdc8e, -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.5), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.7), -2.6em 0em 0 0em #ffdc8e, -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.5), -2.6em 0em 0 0em rgba(255, 220, 142, 0.7), -1.8em -1.8em 0 0em #ffdc8e; } }
@-moz-keyframes loading {
  0%,
      100% {
    box-shadow: 0em -2.6em 0em 0em #ffdc8e, 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.5), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.7), 1.8em -1.8em 0 0em #ffdc8e, 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.5), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.7), 2.5em 0em 0 0em #ffdc8e, 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.5), 2.5em 0em 0 0em rgba(255, 220, 142, 0.7), 1.75em 1.75em 0 0em #ffdc8e, 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.5), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.7), 0em 2.5em 0 0em #ffdc8e, -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.5), 0em 2.5em 0 0em rgba(255, 220, 142, 0.7), -1.8em 1.8em 0 0em #ffdc8e, -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.5), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.7), -2.6em 0em 0 0em #ffdc8e, -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.5), -2.6em 0em 0 0em rgba(255, 220, 142, 0.7), -1.8em -1.8em 0 0em #ffdc8e; } }
@keyframes loading {
  0%,
      100% {
    box-shadow: 0em -2.6em 0em 0em #ffdc8e, 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.5), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.7); }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.7), 1.8em -1.8em 0 0em #ffdc8e, 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.5); }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.5), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.7), 2.5em 0em 0 0em #ffdc8e, 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.5), 2.5em 0em 0 0em rgba(255, 220, 142, 0.7), 1.75em 1.75em 0 0em #ffdc8e, 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.5), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.7), 0em 2.5em 0 0em #ffdc8e, -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.2), -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.5), 0em 2.5em 0 0em rgba(255, 220, 142, 0.7), -1.8em 1.8em 0 0em #ffdc8e, -2.6em 0em 0 0em rgba(255, 220, 142, 0.2), -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.5), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.7), -2.6em 0em 0 0em #ffdc8e, -1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2); }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 220, 142, 0.2), 1.8em -1.8em 0 0em rgba(255, 220, 142, 0.2), 2.5em 0em 0 0em rgba(255, 220, 142, 0.2), 1.75em 1.75em 0 0em rgba(255, 220, 142, 0.2), 0em 2.5em 0 0em rgba(255, 220, 142, 0.2), -1.8em 1.8em 0 0em rgba(255, 220, 142, 0.5), -2.6em 0em 0 0em rgba(255, 220, 142, 0.7), -1.8em -1.8em 0 0em #ffdc8e; } }
    main .content .help-icon {
      line-height: 22px;
      padding: 6px;
      cursor: pointer;
      position: relative;
      z-index: 10; }
    main .content .alert {
      margin: 8px; }

@media (min-width: 768px) {
  .navbar {
    margin: 0 auto; }
    .navbar .navbar-nav {
      margin: 0; }

  main .content .form-group {
    width: auto;
    margin-left: 180px; }
  main .content .content-item .content-label {
    width: 140px;
    line-height: 34px;
    text-align: right;
    position: relative; }
    main .content .content-item .content-label label {
      margin-bottom: 0; }
  main .content .content-item .content-input {
    width: 100%;
    margin-left: -180px;
    padding-left: 180px;
    position: relative;
    float: right; }
    main .content .content-item .content-input input {
      width: 100%; } }
@media (min-width: 1200px) {
  header .header-wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto; }

  footer {
    width: 1062px;
    margin-left: auto;
    margin-right: auto; }

  nav {
    width: 1200px; } }
body:before {
  content: '- Mobile -';
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 9999;
  overflow: hidden; }

@media (min-width: 768px) {
  body:before {
    content: '- Tablet -'; } }
@media (min-width: 992px) {
  body:before {
    content: '- Medium -'; } }
@media (min-width: 1200px) {
  body:before {
    content: '- Large -'; } }

/*# sourceMappingURL=main.css.map */
