@charset "utf-8";

// font
@font-face {
  font-family: "Perfograma";
  src: url("../webfonts/Perfograma.otf") format("opentype");
}

// body

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $main-color;
  background: $main-back;
  font-family: メイリオ, Meiryo, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", Quicksand, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
}

// common

* {
  @include transition;
}

a {
  &:hover {
    text-decoration: none;
    text-shadow: 0 0 1px $main-color-link;
  }
}

.display-none {
  display: none !important;
}

textarea {
  resize: vertical;
}

// header

.header-border {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 72px;
  color: $header-color;
  border-top: 4px dashed $header-back;
  border-bottom: 1px solid $header-shadow;

  header {
    margin: 0;
    width: 100%;
    height: 100%;
    background: $header-back;

    .header-wrapper {
      height: 100%;
      padding: 0 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        margin: 4px;
      }

      .header-title {
        height: 48px;
        line-height: 48px;
        font-size: 2.4rem;
        font-family: "Perfograma";
        font-weight: bold;

        &:hover {
          cursor: pointer;
        }
      }

      .header-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .header-content-item {
            font-size: 1.5rem;
        }
      }
    }
  }
}

// footer

footer {
  margin: 40px 60px;
  text-align: right;
  span {
    background: $fotter-back;
    padding: 8px 16px;
    border-radius: 24px;
  }
}

// navbar

.navbar-area {
  margin: 0;
  padding: 0;
  border: 0;
  background: $nav-back;

}

.navbar {
  @include margin-auto(4px);
  padding: 4px 16px;
  border: 0;

  .input-group {
    margin: 0;
    padding: 0;
  }

  .nav-seacrh {
    padding: 0;
  }

  .navbar-nav {
    margin: 4px 0;
    padding: 0;

    li {
      cursor: pointer;
      margin: 2px;
      padding: 4px;
      border-radius: $border-radius-size;
      color: $nav-main-color-passive;

      a {
        margin: 0;
        padding: 4px 12px;
        background: transparent;

        &:hover {
          background: transparent;
        }
      }

      &:hover {
        background: $nav-back-color-passive;
      }

      &.active {
        background: $nav-back-color-active;
        color: $nav-main-color-active;

        &:hover {
          background: $nav-back-color-passive;
        }
      }
    }
  }
}
