@charset "utf-8";

// debug

body:before {
  content: '- Mobile -';
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 9999;
  overflow: hidden;
}

@include media($size-tablet) {
  body:before {
    content: '- Tablet -';
  }
}

@include media($size-medium) {
  body:before {
    content: '- Medium -';
  }
}

@include media($size-large) {
  body:before {
    content: '- Large -';
  }
}
