<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- link -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <!-- title -->
    <title>clipweb</title>
  </head>
  <body>
    <!-- header -->
    <div class="header-area">
      <header>
        <div class="header-wrapper">
          <a href="./">
            <div class="header-title">clipweb</div>
          </a>
          <div class="header-content">
            <div class="header-content-item">
              <a href="./">
                <i class="fas fa-sync-alt"></i>
              </a>
            </div>
            <div class="header-content-item">
              <a href="https://github.com/AyaNakazawa/clipweb/" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- nav -->
    <div class="nav-area">
      <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="nav-error"><i class="fas fa-exclamation-triangle"></i> Error</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- main -->
    <main>
      <!-- error -->
      <div class="content" id="error-area">
        <div class="content-header">
          <i class="fas fa-exclamation-triangle"></i> 非対応ブラウザ
        </div>
        <div class="content-item-area">
          <div class="content-item">
            ES6をサポートしているブラウザでご覧ください。
          </div>
          <div class="content-item">
            詳細はこちら <i class="fas fa-arrow-alt-right"></i> <a href="https://caniuse.com/#search=ES6">Can I Use</a>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <div class="footer-area">
      <footer>
        <span id="footer-text">
          <i class="fas fa-at"></i> 2017 <a href="https://github.com/AyaNakazawa/clipweb/" target="_blank">clipweb</a>
        </span>
      </footer>
    </div>
    <!-- confirm -->
    <div id="confirm-view"></div>
    <!-- template -->
    <!-- confirm-view -->
    <script type="text/template" id="confirm-view-template">
      <div class="modal fade" id="<%- id %>" data-backdrop="<%= backdrop %>" data-keyboard="<%= keyboard %>" data-focus="<%= focus %>" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <% if (title.length > 0) { %>
                <div class="modal-title"><%- title %></div>
              <% } %>
              <button class="close modal-close" data-dismiss="modal" id="<%- id %>-close">
                <i class="fal fa-times"></i>
              </button>
            </div>
            <% if (image.length + content.length > 0) { %>
              <div class="modal-body">
                <% if (image.length > 0) { %>
                  <img class="modal-img" src="<%- image %>" style="width:90%; height:auto;">
                <% } %>
                <% if (content.length > 0) { %>
                  <div class="modal-message"><%= content %></div>
                <% } %>
              </div>
            <% } %>
            <% if (type >= 1) { %>
              <div class="modal-footer">
                <% if (type >= 2) { %>
                  <button class="modal-button btn btn-secondary" data-dismiss="modal" id="<%- id %>-no"><%- no %></button>
                <% } %>
                <button class="modal-button btn btn-primary" data-dismiss="modal" id="<%- id %>-yes"><%- yes %></button>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </script>
    <!-- loading -->
    <script type="text/template" id="loading-template">
      <div class="content-header content-loading-header">
        <%- header %>
      </div>
      <div class="content-item loading"></div>
      </div>
    </script>
    <!-- alert -->
    <script type="text/template" id="alert-template">
      <div class="alert alert-<%- type %> alert-dismissible fade show" role="alert">
        <% if (close) { %>
        <button class="close" data-dismiss="alert">
          <i class="fas fa-times-circle"></i>
        </button>
        <% } %>
        <%= message %>
      </div>
    </script>
    <!-- ruby -->
    <script type="text/template" id="ruby-template">
      <ruby>
        <rb><%- body %></rb>
        <rp>（</rp>
        <rt><%- ruby %></rt>
        <rp>）</rp>
      </ruby>
    </script>
    <!-- login -->
    <script type="text/template" id="login-template">
      <div class="content-item-area">
        <div class="content-item">
          <label for="login-email">Email address</label>
          <div class="content-input">
            <input id="login-email" type="email" required class="form-control" value="<%- email %>">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-envelope"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item">
          <label for="login-password">Password</label>
          <div class="content-input">
            <input id="login-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" placeholder="">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-lock"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item d-flex justify-content-end">
          <button id="login-register" class="btn btn-link">Register <i class="fal fa-user-plus"></i></button>
          <button id="login-submit" class="btn btn-primary">Login <i class="fal fa-sign-in-alt"></i></button>
        </div>
      </div>
    </script>
    <!-- register -->
    <script type="text/template" id="register-template">
      <div class="content-item-area">
        <div class="content-item">
          <label for="register-username">Username</label>
          <div class="content-input">
            <input id="register-username" type="text" minLength="<%- length.min.username %>" maxLength="<%- length.max.username %>" required class="form-control" value="<%- username %>">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-user"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item">
          <label for="register-email">Email address</label>
          <div class="content-input">
            <input id="register-email" type="email" required class="form-control" value="<%- email %>">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-envelope"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item content-split">
          <div class="content-split-item">
            <label for="register-password">Password</label>
            <div class="content-input">
              <input id="register-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" placeholder="" value="test1234">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
          <div class="content-split-item">
            <label for="register-password-re">Confirm Password</label>
            <div class="content-input">
              <input id="register-password-re" type="password" required class="form-control" placeholder="" value="test1234">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
        </div>
        <div class="content-item d-flex justify-content-end">
          <button id="register-submit" class="btn btn-primary">Register <i class="fal fa-user-plus"></i></button>
        </div>
      </div>
    </script>
    <!-- user-info -->
    <script type="text/template" id="user-info-template">
      <!-- Avatar -->
      <div class="content-item-area">
        <div class="content-item">
          <div class="d-flex justify-content-between">
            <span>Avatar</span>
            <span>
              Using
              <a href="https://ja.gravatar.com/">Gravatar</a>
            </span>
          </div>
          <div class="content-image">
            <img src="https://www.gravatar.com/avatar/<%- gravatarHash %>?s=120" alt="My avatar" class="content-avatar" id="user-setting-avatar">
          </div>
        </div>
        <!-- Username -->
        <div class="content-item">
          <label for="user-info-username">Username</label>
          <div class="content-input">
            <input id="user-info-username" type="text" minLength="<%- length.min.username %>" maxLength="<%- length.max.username %>" required class="form-control" value="<%- username %>">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-user"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <!-- Email address -->
        <div class="content-item">
          <label for="user-info-email">Email address</label>
          <div class="content-input">
            <input id="user-info-email" type="email" required class="form-control" value="<%- email %>">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-envelope"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
      </div>
      <!-- Password -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-info-old-password">Password</label>
          <div class="content-input">
            <input id="user-info-old-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" value="">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-lock"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item content-split">
          <div class="content-split-item">
            <label for="user-info-new-password">New Password</label>
            <div class="content-input">
              <input id="user-info-new-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" value="">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
          <div class="content-split-item">
            <label for="user-info-new-password-re">Confirm Password</label>
            <div class="content-input">
              <input id="user-info-new-password-re" type="password" required class="form-control" value="">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Action -->
      <div class="content-item-area">
        <div class="content-item d-flex justify-content-between">
          <button id="user-info-setting" class="btn btn-primary">Setting <i class="fal fa-exchange-alt"></i></button>
          <button id="user-info-update-submit" class="btn btn-primary">Save <i class="fal fa-cloud"></i></button>
        </div>
      </div>
    </script>
    <!-- user-setting -->
    <script type="text/template" id="user-setting-template">
      <!-- Theme -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-setting-theme">Theme</label>
          <div class="content-input">
            <select id="user-setting-theme" class="form-control" required>
              <% if (theme == 'light') { %>
                <option value="light" selected>Light</option>
              <% } else { %>
                <option value="light">Light</option>
              <% } %>
              <% if (theme == 'dark') { %>
                <option value="dark" selected>Dark</option>
              <% } else { %>
                <option value="dark">Dark</option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-th-list"></i>
          </div>
        </div>
      </div>
      <!-- Owner Publish Mode -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-setting-owner-publish">Default Owner Publish</label>
          <div class="content-input">
            <select id="user-setting-owner-publish" class="form-control" required>
              <% if (ownerPublish == 'private') { %>
                <option value="private" selected>Private</option>
              <% } else { %>
                <option value="private">Private</option>
              <% } %>
              <% if (ownerPublish == 'public') { %>
                <option value="public" selected>Public</option>
              <% } else { %>
                <option value="public">Public</option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-user-circle"></i>
          </div>
        </div>
      </div>
      <!-- Clip Mode -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-setting-clip-mode">Default Clip mode</label>
          <div class="content-input">
            <select id="user-setting-clip-mode" class="form-control" required>
              <% if (clipMode == 'private') { %>
                <option value="private" selected>Private</option>
              <% } else { %>
                <option value="private">Private</option>
              <% } %>
              <% if (clipMode == 'public') { %>
                <option value="public" selected>Public</option>
              <% } else { %>
                <option value="public">Public</option>
              <% } %>
              <% if (clipMode == 'share') { %>
                <option value="share" selected>Share</option>
              <% } else { %>
                <option value="share">Share</option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-share-alt"></i>
          </div>
        </div>
      </div>
      <!-- Action -->
      <div class="content-item-area">
        <div class="content-item d-flex justify-content-between">
          <button id="user-setting-info" class="btn btn-primary">Info <i class="fal fa-exchange-alt"></i></button>
          <button id="user-setting-update-submit" class="btn btn-primary">Save <i class="fal fa-cloud"></i></button>
        </div>
      </div>
    </script>
    <!-- logout -->
    <script type="text/template" id="logout-template">
      <div class="content-item-area">
        <div class="content-item">
          <label for="logout-username">Username</label>
          <div class="content-input">
            <input id="logout-username" type="text" class="form-control" value="<%- username %>" readonly>
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-user"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item d-flex justify-content-end">
          <button id="logout-submit" class="btn btn-primary">Logout <i class="fal fa-sign-out-alt"></i></button>
        </div>
      </div>
    </script>
    <!-- script -->
    <!-- init -->
    <script src="js/mylib/init.js"></script>
    <!-- error -->
    <script src="js/mylib/error.js"></script>
    <!-- lib -->
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/jquery-3.2.0.min.js"></script>
    <script src="js/lib/jquery.easing.1.3.js"></script>
    <script src="js/lib/bootstrap.bundle.min.js"></script>
    <script src="js/lib/sha256.js"></script>
    <script src="js/lib/pbkdf2.js"></script>
    <script src="js/lib/aes.js"></script>
    <script src="js/lib/md5.js"></script>
    <!-- mylib -->
    <script src="js/mylib/common.js"></script>
    <script src="js/mylib/confirm.js"></script>
    <script src="js/mylib/popover.js"></script>
    <script src="js/mylib/scroll.js"></script>
    <script src="js/mylib/static-class.js"></script>
    <script src="js/mylib/switch.js"></script>
    <script src="js/mylib/extension.js"></script>
    <script src="js/mylib/content.js"></script>
    <script src="js/mylib/view.js"></script>
    <!-- myapp -->
    <script src="js/myapp/project.js"></script>
    <script src="js/myapp/process.js"></script>
    <script src="js/myapp/user.js"></script>
    <script src="js/myapp/nav.js"></script>
    <!-- app -->
    <script src="js/mylib/controllers.js"></script>
    <script src="js/mylib/global.js"></script>
    <script src="js/mylib/myapp.js"></script>
  </body>
</html>
