<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- init -->
    <script src="js/mylib/init.js"></script>
    <!-- link -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="icon" href="favicon.ico" type="image/vnd.microsoft.icon"/>
    <!-- title -->
    <title>clipweb</title>
  </head>
  <body>
    <!-- header -->
    <div class="header-area">
      <header>
        <div class="header-wrapper">
          <a href="./">
            <div class="header-title">clipweb</div>
          </a>
          <div class="header-content">
            <div class="header-content-item">
              <select class="custom-select localization" required></select>
            </div>
            <div class="header-content-item">
              <i id="header-clear" class="fas fa-user-times"></i>
            </div>
            <div class="header-content-item">
              <a href="https://github.com/ayatec/clipweb/" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- nav -->
    <div class="nav-area">
      <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" id="nav-error"><i class="fas fa-exclamation-triangle"></i> Error</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- main -->
    <main>
      <!-- error -->
      <div class="content" id="error-area">
        <div class="content-header">
          <i class="fas fa-exclamation-triangle"></i> 非対応ブラウザ
        </div>
        <div class="content-item-area">
          <div class="content-item">
            ES6をサポートしているブラウザでご覧ください。
          </div>
          <div class="content-item">
            詳細はこちら <i class="fas fa-arrow-alt-right"></i> <a href="https://caniuse.com/#search=ES6" target="_blank">Can I Use</a>
          </div>
        </div>
      </div>
    </main>
    <!-- footer -->
    <div class="footer-area">
      <footer>
        <span id="footer-text">
          <i class="fas fa-at"></i> 2017 <a href="https://github.com/ayatec/clipweb/" target="_blank">clipweb</a>
        </span>
      </footer>
    </div>
    <!-- confirm -->
    <div id="confirm-view"></div>
    <!-- template -->
    <!-- confirm-view -->
    <script type="text/template" id="confirm-view-template">
      <div class="modal fade" id="<%- id %>" data-backdrop="<%= backdrop %>" data-keyboard="<%= keyboard %>" data-focus="<%= focus %>" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <% if (title.length > 0) { %>
                <div class="modal-title"><%- title %></div>
              <% } %>
              <button class="close modal-close" data-dismiss="modal" id="<%- id %>-close" tabindex="220">
                <i class="fal fa-times"></i>
              </button>
            </div>
            <% if (image.length + content.length > 0) { %>
              <div class="modal-body">
                <% if (image.length > 0) { %>
                  <img class="modal-img" src="<%- image %>" style="width:90%; height:auto;">
                <% } %>
                <% if (content.length > 0) { %>
                  <div class="modal-message"><%= content %></div>
                <% } %>
              </div>
            <% } %>
            <% if (type >= 1) { %>
              <div class="modal-footer">
                <% if (type >= 2) { %>
                  <button class="modal-button btn btn-secondary" data-dismiss="modal" id="<%- id %>-no" tabindex="210"><%- no %></button>
                <% } %>
                <button class="modal-button btn btn-primary" data-dismiss="modal" id="<%- id %>-yes" tabindex="200"><%- yes %></button>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </script>
    <!-- loading -->
    <script type="text/template" id="loading-template">
      <div class="content-header content-loading-header">
        <%- header %>
      </div>
      <div class="content-item loading"></div>
      </div>
    </script>
    <!-- alert -->
    <script type="text/template" id="alert-template">
      <div class="alert alert-<%- type %> alert-dismissible fade show" role="alert">
        <% if (close) { %>
        <button class="close" data-dismiss="alert">
          <i class="fas fa-times-circle"></i>
        </button>
        <% } %>
        <%= message %>
      </div>
    </script>
    <!-- ruby -->
    <script type="text/template" id="ruby-template">
      <ruby>
        <rb><%- body %></rb>
        <rp>（</rp>
        <rt><%- ruby %></rt>
        <rp>）</rp>
      </ruby>
    </script>
    <!-- user-login -->
    <script type="text/template" id="user-login-template">
      <div class="content-item-area">
        <div class="content-item">
          <label for="login-email"><%= LN.get('email_address') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-login-email" type="email" required class="form-control" value="<%- email %>" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-envelope"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item">
          <label for="login-password"><%= LN.get('password') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-login-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" placeholder="" value="" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-lock"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item">
          <label class="content-check-label" id="user-login-auto-label" tabindex="200">
            <% if (auto_login) { %>
              <input class="content-check" type="checkbox" id="user-login-auto" required checked>
            <% } else { %>
              <input class="content-check" type="checkbox" id="user-login-auto" required>
            <% } %>
            <span class="content-check-icon"></span>
            <%= LN.get('auto_login') %>
          </label>
          <span class="content-popover content-help"></span>
        </div>
        <div class="content-item d-flex justify-content-between">
          <button id="user-login-register" class="btn btn-link" tabindex="210"><%= LN.get('register') %> <i class="fal fa-user-plus"></i></button>
          <button id="user-login-submit" class="btn btn-primary" tabindex="200"><%= LN.get('login') %> <i class="fal fa-sign-in-alt"></i></button>
        </div>
      </div>
    </script>
    <!-- user-register -->
    <script type="text/template" id="user-register-template">
      <div class="content-item-area">
        <div class="content-item">
          <label for="register-username"><%= LN.get('username') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-register-username" type="text" minLength="<%- length.min.username %>" maxLength="<%- length.max.username %>" required class="form-control" value="<%- username %>" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-user"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item">
          <label for="register-email"><%= LN.get('email_address') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-register-email" type="email" required class="form-control" value="<%- email %>" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-envelope"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item content-split">
          <div class="content-split-item col-6">
            <label for="register-password"><%= LN.get('password') %></label>
          <span class="content-popover content-help"></span>
            <div class="content-input">
              <input id="user-register-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" placeholder="" value="" tabindex="200">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
          <div class="content-split-item col-6">
            <label for="register-password-re"><%= LN.get('password_confirm') %></label>
          <span class="content-popover content-help"></span>
            <div class="content-input">
              <input id="user-register-password-re" type="password" required class="form-control" placeholder="" value="" tabindex="200">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
        </div>
        <div class="content-item d-flex justify-content-between">
          <button id="user-register-login" class="btn btn-link" tabindex="210"><%= LN.get('login') %> <i class="fal fa-sign-in-alt"></i></button>
          <button id="user-register-submit" class="btn btn-primary" tabindex="200"><%= LN.get('register') %> <i class="fal fa-user-plus"></i></button>
        </div>
      </div>
    </script>
    <!-- user-info -->
    <script type="text/template" id="user-info-template">
      <!-- Avatar -->
      <div class="content-item-area">
        <div class="content-item">
          <div class="d-flex justify-content-between">
            <span><%= LN.get('avatar') %></span>
            <span>
              <%= LN.get('using_gravatar', { gravatar: '<a href="https://gravatar.com/" target="blank">Gravatar</a>' }) %>
            </span>
          </div>
          <div class="content-image">
            <img src="https://www.gravatar.com/avatar/<%- gravatarHash %>?s=120" alt="My avatar" class="content-avatar" id="user-setting-avatar">
          </div>
        </div>
        <!-- Username -->
        <div class="content-item">
          <label for="user-info-username"><%= LN.get('username') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-info-username" type="text" minLength="<%- length.min.username %>" maxLength="<%- length.max.username %>" required class="form-control" value="<%- username %>" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-user"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <!-- Email address -->
        <div class="content-item">
          <label for="user-info-email"><%= LN.get('email_address') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-info-email" type="email" required class="form-control" value="<%- email %>" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-envelope"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
      </div>
      <!-- Password -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-info-old-password"><%= LN.get('password') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-info-old-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" value="" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-lock"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item content-split">
          <div class="content-split-item col-6">
            <label for="user-info-new-password"><%= LN.get('new_password') %></label>
          <span class="content-popover content-help"></span>
            <div class="content-input">
              <input id="user-info-new-password" type="password" minLength="<%- length.min.password %>" maxLength="<%- length.max.password %>" pattern="<%- pattern.password %>" required class="form-control" value="" tabindex="200">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
          <div class="content-split-item col-6">
            <label for="user-info-new-password-re"><%= LN.get('password_confirm') %></label>
          <span class="content-popover content-help"></span>
            <div class="content-input">
              <input id="user-info-new-password-re" type="password" required class="form-control" value="" tabindex="200">
              <span class="content-input-valid"></span>
              <i class="content-input-icon fas fa-lock"></i>
              <span class="content-input-valid-message"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Action -->
      <div class="content-item-area">
        <div class="content-item d-flex justify-content-between">
          <button id="user-info-setting" class="btn btn-primary" tabindex="210"><%= LN.get('setting') %> <i class="fal fa-exchange-alt"></i></button>
          <button id="user-info-submit" class="btn btn-primary" tabindex="200"><%= LN.get('save') %> <i class="fal fa-cloud"></i></button>
        </div>
      </div>
    </script>
    <!-- user-setting -->
    <script type="text/template" id="user-setting-template">
      <!-- Theme -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-setting-theme"><%= LN.get('theme') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <select id="user-setting-theme" class="custom-select" required tabindex="200">
              <% if (theme == 'light') { %>
                <option value="light" selected><%= LN.get('light') %></option>
              <% } else { %>
                <option value="light"><%= LN.get('light') %></option>
              <% } %>
              <% if (theme == 'dark') { %>
                <option value="dark" selected><%= LN.get('dark') %></option>
              <% } else { %>
                <option value="dark"><%= LN.get('dark') %></option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-th-list"></i>
          </div>
        </div>
      </div>
      <!-- Owner Publish Mode -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-setting-owner-publish"><%= LN.get('default_owner_publish') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <select id="user-setting-owner-publish" class="custom-select" required tabindex="200">
              <% if (ownerPublish == 'private') { %>
                <option value="private" selected><%= LN.get('private') %></option>
              <% } else { %>
                <option value="private"><%= LN.get('private') %></option>
              <% } %>
              <% if (ownerPublish == 'public') { %>
                <option value="public" selected><%= LN.get('public') %></option>
              <% } else { %>
                <option value="public"><%= LN.get('public') %></option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-user-circle"></i>
          </div>
        </div>
      </div>
      <!-- Clip Mode -->
      <div class="content-item-area">
        <div class="content-item">
          <label for="user-setting-clip-mode"><%= LN.get('default_clip_mode') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <select id="user-setting-clip-mode" class="custom-select" required tabindex="200">
              <% if (clipMode == 'private') { %>
                <option value="private" selected><%= LN.get('private') %></option>
              <% } else { %>
                <option value="private"><%= LN.get('private') %></option>
              <% } %>
              <% if (clipMode == 'public') { %>
                <option value="public" selected><%= LN.get('public') %></option>
              <% } else { %>
                <option value="public"><%= LN.get('public') %></option>
              <% } %>
              <% if (clipMode == 'share') { %>
                <option value="share" selected><%= LN.get('share') %></option>
              <% } else { %>
                <option value="share"><%= LN.get('share') %></option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-share-alt"></i>
          </div>
        </div>
      </div>
      <!-- Action -->
      <div class="content-item-area">
        <div class="content-item d-flex justify-content-between">
          <button id="user-setting-info" class="btn btn-primary" tabindex="210"><%= LN.get('info') %> <i class="fal fa-exchange-alt"></i></button>
          <button id="user-setting-submit" class="btn btn-primary" tabindex="200"><%= LN.get('save') %> <i class="fal fa-cloud"></i></button>
        </div>
      </div>
    </script>
    <!-- user-logout -->
    <script type="text/template" id="user-logout-template">
      <div class="content-item-area">
        <div class="content-item">
          <label for="logout-username"><%= LN.get('username') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="user-logout-username" type="text" class="form-control" value="<%- username %>" readonly required>
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-user"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <div class="content-item d-flex justify-content-end">
          <button id="user-logout-submit" class="btn btn-primary"><%= LN.get('logout') %> <i class="fal fa-sign-out-alt"></i></button>
        </div>
      </div>
    </script>
    <!-- list-search -->
    <script type="text/template" id="list-search-template">
      <div class="content-item-area">
        <div class="content-item content-split">
          <div class="content-split-item">
            <label for="list-search-group"><%= LN.get('group') %></label>
            <span class="content-popover content-help"></span>
            <div class="content-input">
              <select id="list-search-group" class="custom-select" required tabindex="200">
                <% if (group == 'none') { %>
                  <option value="none" selected><%= LN.get('none') %></option>
                <% } else { %>
                  <option value="none"><%= LN.get('none') %></option>
                <% } %>
                <% if (group == 'type') { %>
                  <option value="type" selected><%= LN.get('type') %></option>
                <% } else { %>
                  <option value="type"><%= LN.get('type') %></option>
                <% } %>
                <% if (group == 'tag') { %>
                  <option value="tag" selected><%= LN.get('tag') %></option>
                <% } else { %>
                  <option value="tag"><%= LN.get('tag') %></option>
                <% } %>
                <% if (group == 'owner') { %>
                  <option value="owner" selected><%= LN.get('owner') %></option>
                <% } else { %>
                  <option value="owner"><%= LN.get('owner') %></option>
                <% } %>
                <% if (group == 'clip_mode') { %>
                  <option value="clip_mode" selected><%= LN.get('clip_mode') %></option>
                <% } else { %>
                  <option value="clip_mode"><%= LN.get('clip_mode') %></option>
                <% } %>
                <% if (group == 'created_at') { %>
                  <option value="created_at" selected><%= LN.get('created_at') %></option>
                <% } else { %>
                  <option value="created_at"><%= LN.get('created_at') %></option>
                <% } %>
                <% if (group == 'updated_at') { %>
                  <option value="updated_at" selected><%= LN.get('updated_at') %></option>
                <% } else { %>
                  <option value="updated_at"><%= LN.get('updated_at') %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="content-split-item">
            <label for="list-search-sort"><%= LN.get('sort') %></label>
            <span class="content-popover content-help"></span>
            <div class="content-input">
              <div class="input-group">
                <select id="list-search-sort" class="custom-select" required tabindex="200">
                  <% if (sort == 'name') { %>
                    <option value="name" selected><%= LN.get('name') %></option>
                  <% } else { %>
                    <option value="name"><%= LN.get('name') %></option>
                  <% } %>
                  <% if (sort == 'type') { %>
                    <option value="type" selected><%= LN.get('type') %></option>
                  <% } else { %>
                    <option value="type"><%= LN.get('type') %></option>
                  <% } %>
                  <% if (sort == 'tag') { %>
                    <option value="tag" selected><%= LN.get('tag') %></option>
                  <% } else { %>
                    <option value="tag"><%= LN.get('tag') %></option>
                  <% } %>
                  <% if (sort == 'owner') { %>
                    <option value="owner" selected><%= LN.get('owner') %></option>
                  <% } else { %>
                    <option value="owner"><%= LN.get('owner') %></option>
                  <% } %>
                  <% if (sort == 'clip_mode') { %>
                    <option value="clip_mode" selected><%= LN.get('clip_mode') %></option>
                  <% } else { %>
                    <option value="clip_mode"><%= LN.get('clip_mode') %></option>
                  <% } %>
                  <% if (sort == 'created_at') { %>
                    <option value="created_at" selected><%= LN.get('created_at') %></option>
                  <% } else { %>
                    <option value="created_at"><%= LN.get('created_at') %></option>
                  <% } %>
                  <% if (sort == 'updated_at') { %>
                    <option value="updated_at" selected><%= LN.get('updated_at') %></option>
                  <% } else { %>
                    <option value="updated_at"><%= LN.get('updated_at') %></option>
                  <% } %>
                </select>
                <div class="input-group-append">
                  <% if (order == 'asc') { %>
                    <button id="list-search-sort-asc" class="btn btn-outline-info active">
                      <i class="fas fa-sort-alpha-down"></i>
                    </button>
                  <% } else { %>
                    <button id="list-search-sort-asc" class="btn btn-outline-info">
                      <i class="fas fa-sort-alpha-down"></i>
                    </button>
                  <% } %>
                </div>
                <div class="input-group-append">
                  <% if (order == 'desc') { %>
                    <button id="list-search-sort-desc" class="btn btn-outline-info active">
                      <i class="fas fa-sort-alpha-up"></i>
                    </button>
                  <% } else { %>
                    <button id="list-search-sort-desc" class="btn btn-outline-info">
                      <i class="fas fa-sort-alpha-up"></i>
                    </button>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-item">
          <div class="input-group content-input">
            <div class="input-group-prepend">
              <button id="list-search-new" class="btn btn-outline-info"><i class="far fa-plus-circle"></i> <%= LN.get('new') %></button>
            </div>
            <div class="input-group-prepend">
              <button id="list-search-refresh" class="btn btn-outline-info"><i class="far fa-sync"></i> <%= LN.get('update') %></button>
            </div>
            <input id="list-search-search" class="form-control" type="text" placeholder="<%= LN.get('search') %>" value="<%- search %>">
            <i class="content-input-icon fas fa-search"></i>
            <i id="list-search-search-clear" class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="content-item-area">
        <div class="content-item">
          <div id="list-search-clips">
          </div>
        </div>
      </div>
    </script>
    <!-- clip-new -->
    <script type="text/template" id="clip-new-template">
      <div class="content-item-area">
        <!-- File name -->
        <div class="content-item">
          <label for="clip-new-filename"><%= LN.get('filename') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <input id="clip-new-filename" type="text" minLength="<%- length.min.filename %>" maxLength="<%- length.max.filename %>" required class="form-control" placeholder="" value="" tabindex="200">
            <span class="content-input-valid"></span>
            <i class="content-input-icon fas fa-file"></i>
            <span class="content-input-valid-message"></span>
          </div>
        </div>
        <!-- File type -->
        <div class="content-item">
          <label for="clip-new-filetype"><%= LN.get('filetype') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <select id="clip-new-filetype" class="custom-select" required tabindex="200">
              <% for (let type of Object.keys(filetypes)) { %>
                <% if (type == 'TEXT') { %>
                  <option value="<%- type %>" selected><%- filetypes[type]['name'] %></option>
                <% } else { %>
                  <option value="<%- type %>"><%- filetypes[type]['name'] %></option>
                <% } %>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-file-code"></i>
          </div>
        </div>
        <!-- Owner publish -->
        <div class="content-item">
          <label for="clip-new-owner-publish"><%= LN.get('owner_publish') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <select id="clip-new-owner-publish" class="custom-select" required tabindex="200">
              <% if (defaultOwnerPublish == 'private') { %>
                <option value="private" selected><%= LN.get('private') %></option>
              <% } else { %>
                <option value="private"><%= LN.get('private') %></option>
              <% } %>
              <% if (defaultOwnerPublish == 'public') { %>
                <option value="public" selected><%= LN.get('public') %></option>
              <% } else { %>
                <option value="public"><%= LN.get('public') %></option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-user-circle"></i>
          </div>
        </div>
        <!-- clip mode -->
        <div class="content-item">
          <label for="clip-new-clip-mode"><%= LN.get('clip_mode') %></label>
          <span class="content-popover content-help"></span>
          <div class="content-input">
            <select id="clip-new-clip-mode" class="custom-select" required tabindex="200">
              <% if (defaultClipMode == 'private') { %>
                <option value="private" selected><%= LN.get('private') %></option>
              <% } else { %>
                <option value="private"><%= LN.get('private') %></option>
              <% } %>
              <% if (defaultClipMode == 'public') { %>
                <option value="public" selected><%= LN.get('public') %></option>
              <% } else { %>
                <option value="public"><%= LN.get('public') %></option>
              <% } %>
              <% if (defaultClipMode == 'share') { %>
                <option value="share" selected><%= LN.get('share') %></option>
              <% } else { %>
                <option value="share"><%= LN.get('share') %></option>
              <% } %>
            </select>
            <i class="content-input-icon content-select-icon fas fa-share-alt"></i>
          </div>
        </div>
      </div>
      <div class="content-item-area">
        <div class="content-item d-flex justify-content-between">
          <button id="clip-new-close" class="btn btn-link" tabindex="210"><%= LN.get('close') %> <i class="far fa-times"></i></button>
          <button id="clip-new-create" class="btn btn-primary" tabindex="200"><%= LN.get('new_create') %> <i class="fal fa-plus-circle"></i></button>
        </div>
      </div>
    </script>
    <!-- clip-setting -->
    <script type="text/template" id="clip-setting-template">
      <div class="content-item-area">
        <div class="content-item">
        </div>
      </div>
    </script>
    <!-- clip-user -->
    <script type="text/template" id="clip-user-template">
      <div>
      </div>
    </script>
    <!-- script -->
    <!-- error -->
    <script src="js/mylib/error.js"></script>
    <!-- lib -->
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/lib/jquery-3.2.0.min.js"></script>
    <script src="js/lib/jquery.easing.1.3.js"></script>
    <script src="js/lib/bootstrap.bundle.min.js"></script>
    <script src="js/lib/sha256.js"></script>
    <script src="js/lib/pbkdf2.js"></script>
    <script src="js/lib/aes.js"></script>
    <script src="js/lib/md5.js"></script>
    <!-- mylib -->
    <script src="js/mylib/localization.js"></script>
    <script src="js/mylib/common.js"></script>
    <script src="js/mylib/confirm.js"></script>
    <script src="js/mylib/popover.js"></script>
    <script src="js/mylib/scroll.js"></script>
    <script src="js/mylib/static-class.js"></script>
    <script src="js/mylib/switch.js"></script>
    <script src="js/mylib/extension.js"></script>
    <script src="js/mylib/content.js"></script>
    <script src="js/mylib/view.js"></script>
    <!-- myapp -->
    <script src="js/myapp/lang.js"></script>
    <script src="js/myapp/project.js"></script>
    <script src="js/myapp/filetypes.js"></script>
    <script src="js/myapp/process.js"></script>
    <script src="js/myapp/clipweb.js"></script>
    <script src="js/myapp/nav.js"></script>
    <script src="js/myapp/user.js"></script>
    <script src="js/myapp/list.js"></script>
    <script src="js/myapp/clip.js"></script>
    <!-- app -->
    <script src="js/mylib/controllers.js"></script>
    <script src="js/mylib/global.js"></script>
    <script src="js/myapp/global.js"></script>
    <script src="js/mylib/app.js"></script>
  </body>
</html>
